<p>
  <strong>Title:</strong>
  <%= @tutee_search.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @tutee_search.text %>
</p>

<p>
  <strong>Comments:</strong>
  <% @tutee_search.comments.each do |comment| %>
	<strong><%= comment.author %></strong><br/>
  <%= comment.text %><br/>

  <% end %>
</p>

  <%= link_to "Add Comment", "/comments/new/tutee/#{params[:id]}", method: "get" %>
  <br/>


<%= link_to 'Back to Tutee Searches', tutee_searches_path %>
<%= link_to 'Back to Main Page', root_path %>
