<h1>New Post</h1>
Submitting Tutor Search for
<%= @number.subject.name %>
<%= @number.name %>

<%= form_tag @tutor_search, local: true do %>
  <% if @tutor_search.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@tutor_search.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @tutor_search.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= label_tag :title %><br>
    <%= text_field_tag :title %>
  </p>

  <p>
    <%= label_tag :text %><br>
    <%= text_field_tag :text %>
  </p>

  <%= hidden_field_tag :number_id, @number.id %>

  <p>
    <%= submit_tag %>
  </p>
<% end %>

<%= link_to 'Back to Tutor Searches', tutor_searches_path %>
<%= link_to 'Back to Main Page', root_path %>
