<!DOCTYPE html>
<html>
<head>
  <title>TutorLama</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		
			<% if current_user %>
				<%= link_to "Sign out", "/signout", id: "sign_out", method: "delete" %>			
			<% end %>

	</div>
	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
